{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1 class="mb-4">Edit Order: {{ order.name }}</h1>

  {{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter order name'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Enter order description'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.date, {'attr': {'class': 'form-control', 'placeholder': 'Enter order date'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Update Order</button>
  {{ form_end(form) }}

  <a href="{{ path('order_index') }}" class="btn btn-secondary mt-3">Back to List</a>
</div>

{% endblock %}
